<div class="container">
  <section class="deep-purple accent-3 white-text text-center pb-3">
    <h2 class="py-2">*ngIf</h2>
    <p class="d-inline-block">Destroi elemento se for falso. Muito utilizado para parte de segurança de permissões</p>
    <div class="row py-2" *ngIf="mostrarCursos">
      <div class="col-md-12">
        <p>Lista de cursos</p>
      </div><!--col-->
    </div><!--row-->
    <div class="row py-2" *ngIf="!mostrarCursos">
      <div class="col-md-12">
        <p>Não existem cursos a serem listados</p>
      </div><!--col-->
    </div><!--row-->
    <button type="button" class="btn btn-warning my-2" (click)="onMostrarCursos()">Mostrar/Esconder Cursos</button>
  </section>

  <hr class="m-0">

  <section class="deep-purple accent-3 white-text text-center py-3">
    <h2 class="py-2">[hidden]</h2>
    <p>O [hidden] Nao destroi o elemento quando precisa esconder, entao pode gerar vulnerabilidades na Segurança</p>
    <div class="row py-2" [hidden]="!mostrarCursos">
      <div class="col-md-12">
        <p>Lista de cursos</p>
      </div><!--col-->
    </div><!--row-->
    <div class="row py-2" [hidden]="mostrarCursos">
      <div class="col-md-12">
        <p>{{ cursos.length }} cursos a serem listados</p>
      </div><!--col-->
    </div><!--row-->
    <button type="button" class="btn btn-warning my-2" (click)="onMostrarCursos()">Mostrar/Esconder Cursos</button>
  </section>

  <hr class="m-0">

  <app-diretiva-ngswitch></app-diretiva-ngswitch>

  <hr class="m-0">

  <app-diretiva-ngfor></app-diretiva-ngfor>

  <hr class="m-0">

  <app-diretiva-ngclass></app-diretiva-ngclass>

  <hr class="m-0">

  <app-diretiva-ngstyle></app-diretiva-ngstyle>

</div>
