<section>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h2>Cursos</h2>
      <div>
        <a class="btn btn-primary me-2" [routerLink]="['/cursos/novo']">Novo Curso</a>
        <button class="btn btn-primary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loading">
        <thead>
        <tr>
          <th>#</th>
          <th>Cursos</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="mb-3" *ngFor="let curso of cursos">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
          <td>
            <div class="text-end">
              <button class="btn btn-outline-warning d-inline-block me-2 mb-3 mb-md-0" (click)="onEdit(curso.id)">Atualizar</button>
              <button class="btn btn-outline-danger d-inline-block me-2 mb-3 mb-md-0" (click)="onDeleteSubject(curso)">Deletar</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <ng-template #loading>
        <span>Carregando Cursos</span>
      </ng-template>
<!--      <ng-template #loading>-->
<!--        <div *ngIf="error$ | async; else loadingNoError">-->
<!--          <span>Erro ao carregar cursos. Tente novamente mais tarde.</span>-->
<!--        </div>-->
<!--        -->
<!--      </ng-template>-->
    </div><!--card-body-->
  </div><!--card-->
</section>
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja deletar?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
  </ng-template>

