<section>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h2>Cursos</h2>
      <button class="btn btn-primary">Novo Curso</button>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Cursos</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="mb-3" *ngFor="let curso of cursos">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
          <td>
            <div class="text-end">
              <button class="btn btn-outline-warning d-inline-block me-2 mb-3 mb-md-0">Atualizar</button>
              <button class="btn btn-outline-danger d-inline-block me-2 mb-3 mb-md-0">Deletar</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
