<section class="data-form">
  <article>
    <h2 class="py-2">Data Form(Reativo)</h2>
    <form [noValidate]="true" action="#" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="nome" name="nome" formControlName="nome"
                   [ngClass]="validatorNgClassInput('nome')" placeholder="Informe seu nome">
            <label for="nome">Nome</label>
            <small class="invalid-feedback">Campo Invalido</small>
          </div>
        </div><!--col-->
      </div><!--row-->
      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="form-floating ">
            <input type="email" class="form-control" id="email" formControlName="email"
                   [ngClass]="validatorNgClassInput('email')" placeholder="Informe seu e-mail">
            <label for="email"
                   [ngClass]="validatorNgClassLabel('email')">{{ validatorLabelValue('email', 'E-mail') }}</label>
            <small class="invalid-feedback">{{ validatorEmailInvalid('email') }}</small>
          </div>
        </div><!--col-->
      </div><!--row-->
      <div formGroupName="endereco">
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="cep" formControlName="cep"
                     [ngClass]="validatorNgClassInput('endereco.cep')" (blur)="consultaCep()"
                     placeholder="Informe seu Cep">
              <label for="cep">Cep</label>
              <small class="invalid-feedback">{{ validatorCepInvalid('endereco.cep') }}</small>
            </div>
          </div><!--col-->
          <div class="col-md-3 mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="numero" formControlName="numero"
                     [ngClass]="validatorNgClassInput('endereco.numero')" placeholder="Informe o Número da casa">
              <label for="numero">Número</label>
              <small class="invalid-feedback">Campo Inválido</small>
            </div>
          </div><!--col-->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="complemento" formControlName="complemento"
                     placeholder="Complemento">
              <label for="complemento">Complemento</label>
            </div>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="rua" formControlName="rua"
                     [ngClass]="validatorNgClassInput('endereco.rua')" placeholder="Informe a Rua">
              <label for="rua">Rua</label>
              <small class="invalid-feedback">Campo Inválido</small>
            </div>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-5 mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="bairro" formControlName="bairro"
                     [ngClass]="validatorNgClassInput('endereco.bairro')" placeholder="Informe o Bairro">
              <label for="bairro">Bairro</label>
              <small class="invalid-feedback">Campo Inválido</small>
            </div>
          </div><!--col-->
          <div class="col-md-4 mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="cidade" formControlName="cidade"
                     [ngClass]="validatorNgClassInput('endereco.cidade')" placeholder="Informe a Cidade">
              <label for="cidade">Cidade</label>
              <small class="invalid-feedback">Campo Inválido</small>
            </div>
          </div><!--col-->
          <div class="col-md-3 mb-3">
            <div class="form-floating">
              <!--            <input type="text" class="form-control" id="estado" name="estado"-->
              <!--                   [ngClass]="validatorNgClassInput('endereco.estado')" placeholder="Informe o Estado">-->
              <select class="form-select" id="estado" formControlName="estado"
                      [ngClass]="validatorNgClassInput('endereco.estado')" (change)="buscarEstado($event)">
                <option *ngFor="let estado of estados | async" value="{{ estado.sigla }}">{{ estado.nome }}</option>
              </select>
              <label for="estado">Estado</label>
              <small class="invalid-feedback">Campo Inválido</small>
            </div>
          </div><!--col-->
        </div><!--row-->
      </div><!--formGroupName-->
      <div class="row">
        <div class="col-md-3 mb-3 align-self-center">
          <div class="form-floating">
            <select class="form-select" id="cargo" formControlName="cargo" [compareWith]="compararObjetos"
                    [ngClass]="validatorNgClassInput('cargo')" (change)="carregarCargoSelecionado()">
              <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc  }}</option>
            </select>
            <label for="cargo">Cargo</label>
            <small class="invalid-feedback">Campo Inválido</small>
          </div>
        </div><!--col-->
        <div class="col-md-3 mb-3 align-self-center">
          <button type="button" class="btn btn-warning" (click)="setarCargo()">Setar Cargo</button>
        </div><!--col-->
        <div class="col-md-3 mb-3">
          <label for="tecnologia">Tecnologias</label>
          <select multiple class="form-select multiSelect overflow-auto" id="tecnologia" formControlName="tecnologias"
                  [compareWith]="compararObjetos"
                  [ngClass]="validatorNgClassInput('tecnologias')" (change)="carregarTecnologiaSelecionado()">
            <option *ngFor="let tecnologia of tecnologias" [ngValue]="tecnologia">{{ tecnologia.desc  }}</option>
          </select>
          <small class="invalid-feedback">Campo Inválido</small>
        </div><!--col-->
        <div class="col-md-3 mb-3 align-self-center">
          <button type="button" class="btn btn-warning" (click)="setarTecnologias()">Setar Tecnologia</button>
        </div><!--col-->
      </div><!--row-->
      <div class="row">
        <div class="col-md-3 mb-3">
          <label class="d-block">Newsletter</label>
          <div class="form-check form-check-inline" *ngFor="let newsletter of newsletters; index as i">
            <input type="radio" class="form-check-input" id="{{ 'newsletter'+i }}" formControlName="newsletter"
                   name="newsletter" [value]="newsletter.valor">
            <label class="form-check-label" for="{{ 'newsletter'+i }}">{{ newsletter.desc }}</label>
          </div>
        </div><!--col-->
      </div><!--row-->
      <div class="col-md-3 mb-3">
        <label class="d-block">Termos</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="termos" formControlName="termos"
                 [ngClass]="validatorNgClassInput('termos')">
          <label class="form-check-label" for="termos">Aceito os termos</label>
          <small class="invalid-feedback">Campo Inválido</small>
        </div>
      </div><!--col-->
      <label class="d-block py-2 text-center">Frameworks</label>
      <div class="row">
        <div class="col-sm-6 col-md-3 mb-4" formArrayName="frameworks"
             *ngFor="let frameworkForm of frameworks.controls ; index as i">
          <div [formGroupName]="i">
            <div class="mb-2">
              <label for="{{ 'frameworkName'+i }}">Nome</label>
              <input type="text" class="form-control" id="{{ 'frameworkName'+i }}" formControlName="nome">
            </div><!--col-->
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="{{ 'framework'+i }}" formControlName="stats">
              <label class="form-check-label"
                     for="{{ 'framework'+i }}">{{ frameworkForm.get('nome')?.value }}</label>
            </div>
          </div>
        </div>
        <!--          <small class="d-block invalid-feedback" *ngIf="validatorCheckBox('frameworks')">Campo Inválido</small>-->
      </div><!--row-->
      <div class="row">
        <div class="col-md-12" formArrayName="telefones" *ngFor="let telefoneForm of telefones?.controls ; index as j">
            <div class="row" [formGroupName]="j">
              <div class="form-floating col-md-3 mb-3">
                <input type="text" class="form-control" id="{{'input'+j}}" formControlName="numero"
                [ngClass]="validatorNgClassInputFormArray('numero', telefoneForm)">
                <label for="{{'input'+j}}">Número</label>
                <small class="invalid-feedback">Campo Inválido</small>
              </div>
              <div class="form-floating col-md-3 mb-3">
                <select class="form-select" id="{{'select'+j}}" formControlName="tipoTelefone"
                [ngClass]="validatorNgClassInputFormArray('tipoTelefone', telefoneForm)">
                  <option ngValue="CELULAR">CELULAR</option>
                  <option ngValue="CASA">CASA</option>
                  <option ngValue="TRABALHO">TRABALHO</option>
                </select>
                <label for="{{'select'+j}}">Tipo de Telefone</label>
                <small class="invalid-feedback">Campo Inválido</small>
              </div>
              <div class="col-md-3 mb-3 align-self-center">
                <button type="button" class="btn btn-danger" (click)="removeTelefone(j)">Deletar</button>
              </div><!--col-->
            </div><!--row-->
        </div><!--col-->
      </div><!--row-->
      <button type="submit" class="btn btn-primary btn-lg m-2">Enviar</button>
      <button type="button" class="btn btn-primary m-2" (click)="addFramework()">Add Framework</button>
      <button type="button" class="btn btn-primary m-2" (click)="addTelefone()">Add Telefone</button>
    </form>
  </article><!--article-->

  <article>
    <h2 class="py-2">Data Form(Reativo) 2 - Http GET request</h2>
    <form action="#" [formGroup]="formularioEstado" (ngSubmit)="buscarEstadosAPI()">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="id">Id</label>
          <input type="text" class="form-control" id="id" formControlName="id">
        </div><!--col-->
        <div class="col-md-4 mb-3">
          <label for="sigla">Sigla</label>
          <input type="text" class="form-control" id="sigla" formControlName="sigla">
        </div><!--col-->
        <div class="col-md-4 mb-3">
          <label for="nomeEstado">Nome do Estado</label>
          <input type="text" class="form-control" id="nomeEstado" formControlName="nome">
        </div><!--col-->
      </div><!--row-->
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </article><!--article-->
  <app-formulario-debugg [formularioReativoDebug]="formulario"></app-formulario-debugg>
</section>
