
mat-table {
  width: 100%;
  max-height: 350px;
  overflow: auto;

  mat-header-row {
    position: relative;
    min-width: 800px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }

  mat-row {
    min-width: 800px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.action-column {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 140px;
}

.id-column {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 70px;
}
